In [17]:
import pandas as pd
import datetime
import ccxt

In [18]:
print(ccxt.exchanges)

['ace', 'alpaca', 'ascendex', 'bequant', 'bigone', 'binance', 'binancecoinm', 'binanceus', 'binanceusdm', 'bingx', 'bit2c', 'bitbank', 'bitbay', 'bitbns', 'bitcoincom', 'bitfinex', 'bitfinex2', 'bitflyer', 'bitforex', 'bitget', 'bithumb', 'bitmart', 'bitmex', 'bitopro', 'bitpanda', 'bitrue', 'bitso', 'bitstamp', 'bitstamp1', 'bittrex', 'bitvavo', 'bl3p', 'blockchaincom', 'btcalpha', 'btcbox', 'btcmarkets', 'btctradeua', 'btcturk', 'bybit', 'cex', 'coinbase', 'coinbaseprime', 'coinbasepro', 'coincheck', 'coinex', 'coinfalcon', 'coinmate', 'coinone', 'coinsph', 'coinspot', 'cryptocom', 'currencycom', 'delta', 'deribit', 'digifinex', 'exmo', 'fmfwio', 'gate', 'gateio', 'gemini', 'hitbtc', 'hitbtc3', 'hollaex', 'huobi', 'huobijp', 'huobipro', 'idex', 'independentreserve', 'indodax', 'kraken', 'krakenfutures', 'kucoin', 'kucoinfutures', 'kuna', 'latoken', 'lbank', 'lbank2', 'luno', 'lykke', 'mercado', 'mexc', 'mexc3', 'ndax', 'novadax', 'oceanex', 'okcoin', 'okex', 'okex5', 'okx', 'paymium', 'phemex', 'poloniex', 'poloniexfutures', 'probit', 'tidex', 'timex', 'tokocrypto', 'upbit', 'wavesexchange', 'wazirx', 'whitebit', 'woo', 'yobit', 'zaif', 'zonda']

In [19]:
exchange = ccxt.binance()

In [20]:
# Retrieve trading pairs
markets = exchange.load_markets()

# Create a DataFrame from the list of trading pairs
df_currencies = pd.DataFrame(list(markets.values()))
df_currencies.head()

,id,symbol,base,quote,baseId,quoteId,active,type,linear,inverse,...,precision,limits,info,percentage,feeSide,tierBased,taker,maker,lowercaseId,created
0,ETHBTC,ETH/BTC,ETH,BTC,ETH,BTC,True,spot,None,None,...,"{'amount': 4, 'price': 5, 'base': 8, 'quote': 8}","{'amount': {'min': 0.0001, 'max': 100000.0}, '...","{'symbol': 'ETHBTC', 'status': 'TRADING', 'bas...",True,get,False,0.001,0.001,ethbtc,NaN
1,LTCBTC,LTC/BTC,LTC,BTC,LTC,BTC,True,spot,None,None,...,"{'amount': 3, 'price': 6, 'base': 8, 'quote': 8}","{'amount': {'min': 0.001, 'max': 100000.0}, 'p...","{'symbol': 'LTCBTC', 'status': 'TRADING', 'bas...",True,get,False,0.001,0.001,ltcbtc,NaN
2,BNBBTC,BNB/BTC,BNB,BTC,BNB,BTC,True,spot,None,None,...,"{'amount': 3, 'price': 6, 'base': 8, 'quote': 8}","{'amount': {'min': 0.001, 'max': 100000.0}, 'p...","{'symbol': 'BNBBTC', 'status': 'TRADING', 'bas...",True,get,False,0.001,0.001,bnbbtc,NaN
3,NEOBTC,NEO/BTC,NEO,BTC,NEO,BTC,True,spot,None,None,...,"{'amount': 2, 'price': 7, 'base': 8, 'quote': 8}","{'amount': {'min': 0.01, 'max': 100000.0}, 'pr...","{'symbol': 'NEOBTC', 'status': 'TRADING', 'bas...",True,get,False,0.001,0.001,neobtc,NaN
4,QTUMETH,QTUM/ETH,QTUM,ETH,QTUM,ETH,True,spot,None,None,...,"{'amount': 1, 'price': 6, 'base': 8, 'quote': 8}","{'amount': {'min': 0.1, 'max': 90000000.0}, 'p...","{'symbol': 'QTUMETH', 'status': 'TRADING', 'ba...",True,get,False,0.001,0.001,qtumeth,NaN

OHLCV (Open, High, Low, Close, Volume)

In [21]:
symbol = 'XRP/USD'  # Specify the trading pair
timeframe = '5m'     # Specify the time frame (e.g., 1 hour)

since = exchange.parse8601('2023-06-30T00:00:00Z')  # Start date in ISO8601 format

limit = 1000  # Number of data points to fetch per request
start_time = since  # Initialize with the 'since' timestamp

all_ohlcv = []  # To store all data points

while True: # While Loop to bypass the 1k limit is common practice and in compliance with binance API guidelines
    ohlcv = exchange.fetch_ohlcv(symbol, timeframe, start_time, limit)
    if not ohlcv:  # If no more data is returned, break the loop
        break
    all_ohlcv.extend(ohlcv)  # Add the data to the list
    start_time = ohlcv[-1][0] + 1  # Set the start time for the next request

df = pd.DataFrame(all_ohlcv)

# Define column names
column_names = ['Timestamp', 'Open', 'High', 'Low', 'Close', 'Volume']

# Assign column names to the DataFrame
df.columns = column_names

# Convert the 'Timestamp' column to datetime
df['Timestamp'] = pd.to_datetime(df['Timestamp'], unit='ms')

df

                Timestamp    Open    High     Low   Close         Volume
0     2023-06-30 00:00:00  0.4744  0.4748  0.4741  0.4741  142402.649324
1     2023-06-30 00:05:00  0.4742  0.4742  0.4737  0.4742  147128.880288
2     2023-06-30 00:10:00  0.4742  0.4742  0.4727  0.4727  210354.256858
3     2023-06-30 00:15:00  0.4726  0.4726  0.4716  0.4721  291469.378275
4     2023-06-30 00:20:00  0.4721  0.4724  0.4720  0.4723   85616.517468
...                   ...     ...     ...     ...     ...            ...
35713 2023-11-01 00:05:00  0.5976  0.5983  0.5965  0.5966   86858.732341
35714 2023-11-01 00:10:00  0.5965  0.5974  0.5958  0.5974  124996.196415
35715 2023-11-01 00:15:00  0.5974  0.5984  0.5971  0.5982   91965.323256
35716 2023-11-01 00:20:00  0.5982  0.5986  0.5960  0.5962  105435.632025
35717 2023-11-01 00:25:00  0.5962  0.5965  0.5962  0.5965    6605.604639

[35718 rows x 6 columns]

In [22]:
df['Diff'] = df['Open'] - df['Close']

In [23]:
df[df['Diff'] == df['Diff'].max()]

,Timestamp,Open,High,Low,Close,Volume,Diff
14084,2023-08-17 21:40:00,0.5485,0.5502,0.4106,0.4311,3.881115e+07,0.1174

In [24]:
df[df['Diff'] == df['Diff'].min()]

               Timestamp    Open    High    Low   Close        Volume    Diff
3964 2023-07-13 18:20:00  0.8392  0.9115  0.836  0.9104  1.877001e+07 -0.0712

In [25]:
correlation = df['Diff'].corr(df['Volume'])
print("Correlation between 'Diff' and 'Volume':", correlation)

Correlation between 'Diff' and 'Volume': 0.03044359551146261

In [26]:
# Define parameters for the trading strategy
threshold = 0.06  # 2% threshold for price increase
position = None  # Position starts as None
initial_balance = 10000  # Initial balance in the trading account
balance = initial_balance  # Current balance

# Initialize lists to store trade information
entry_points = []
exit_points = []

# Momentum Trading Strategy
for i in range(1, len(df)):
    price_increase = (df['Close'][i] - df['Open'][i-1]) / df['Open'][i-1]
    
    if price_increase > threshold:
        # Buy at the close price
        entry_price = df['Close'][i]
        entry_points.append((i, entry_price))
        position = 'long'
    elif position == 'long':
        # Sell after holding for one period
        exit_price = df['Close'][i]
        exit_points.append((i, exit_price))
        balance = balance * (exit_price / entry_price)
        position = None

# Calculate returns
returns = (balance - initial_balance) / initial_balance * 100

print("Total Returns:", returns)

Total Returns: -8.296128098897917

The choice of a time frame for a momentum trading bot depends on your trading strategy, risk tolerance, and the assets you are trading. Different time frames offer different trade-offs, and there is no one-size-fits-all answer. Here are some considerations for selecting a time frame:

1-Minute (or Less) Time Frame:
- Very short time frames like 1 minute are often used by high-frequency traders (HFT) and algorithmic trading systems that execute many trades in a short time. They require low latency and advanced infrastructure.
- High-frequency trading is associated with increased transaction costs, such as trading fees and potential slippage, and may not be suitable for all traders.
- The price action can be more erratic, making it challenging to identify meaningful trends, and there's a risk of "noise" in the data.
  
Shorter Time Frames (5-Minute, 15-Minute, 30-Minute):
- These time frames are often used by day traders and short-term momentum traders.
- They allow for more trades throughout the day but still require careful risk management due to the rapid price changes.

Longer Time Frames (1-Hour, 4-Hour, Daily):
- Longer time frames are generally used by swing traders and medium-term traders.
- Trends and patterns on these time frames tend to be more reliable, with less "noise" compared to shorter time frames.
- Trades occur less frequently, and holding positions for longer periods may require more patience.
- When choosing a time frame for a momentum trading bot, consider the following factors:

Trading Style: Your trading style and objectives matter. If you want to capitalize on very short-term price movements, you might choose a shorter time frame. For longer-term trades, consider longer time frames.

Asset Volatility: The volatility of the asset you're trading is crucial. Highly volatile assets might require shorter time frames to capture momentum, while less volatile assets can be traded on longer time frames.

Risk Management: Shorter time frames often require tighter stop-loss orders and more frequent monitoring, so you need a robust risk management strategy.

Technical Analysis: The time frame you choose should align with your technical analysis. Different time frames may show different patterns and signals.

Infrastructure: High-frequency trading often demands low-latency infrastructure, including high-speed internet connections and powerful servers.

Backtesting: Use backtesting to evaluate the performance of your trading strategy on historical data across various time frames. This can help you determine which time frame works best for your specific strategy.